@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maersk Line Logistics SDN. BHD.<br />
    Jalan Sultan Ismail 4/400, <br />
    65040 Pahang, <br />
    Malaysia. <br />
    <abbr title="Phone">P:</abbr>
    0121234567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@maersk.com">Support@maersk.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@maersk.com">Marketing@maersk.com</a>
</address>