@using MaerskLineWebsite.Controllers
@using MaerskLineWebsite.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Containers</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Weight (lbs)</th>
        <th>Type</th>
            
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var container in Model)
    {
        <tr>
            <td>@</td>
            <td>@container.ContainerWeight</td>
            <td>@container.ContainerTypes</td> 
                
              
            <td>@Html.ActionLink("Edit", "Edit", new { containerId = container.ContainerId })</td>

        </tr>
    }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}